<div class="cards-6 section-gray">
    <div class="container">
        <div class="row pl-5" style="margin:0 auto !important">
            <div class="col-md-4 pl-5">
                <div class="card card-profile">
                    <div class="card-image">
                        <a href="#"> <img class="img" src="./assets/1.jpeg">
                            <div class="card-caption"> Mario </div>
                        </a>
                    </div>
                    <div class="table">
                        <div style="margin:8% 1% 5% 1%">
                            <h6 >mariofernandezs1@gmail.com</h6>
                        </div>
                        <div  style="margin:5% 1%">
                            <h3 >Listas favoritas</h3>
                        </div>
                        <p class="card-description"> => Receta simple gazpacho</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>