<article class="col-md-12">

    <div class="cards-8 section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-3" *ngFor="let list of lists">
                    <div class="card card-product" style="cursor: pointer;">
                        <div class="card-image" [routerLink]="['/products', list.id]">
                            <img class="img" src="{{imageCategory[0]}}" alt="{{imageCategory[1]}}">
                        </div>
                        <div class="table">
                            <h6 class="category text-rose" [routerLink]="['/products', list.id]">
                                {{shops ? shops[0].type : 'Productos'}}
                            </h6>
                            <h4 class="card-caption" [routerLink]="['/products', list.id]">
                                {{list.name}}
                            </h4>
                            <hr />
                            <div class="card-description pb-4" [routerLink]="['/products', list.id]">{{list.description}}</div>
                            <hr />
                            <div class="ftr">
                                <div class="price" style="cursor: initial;">
                                    <h6>No hay un precio estimado</h6>
                                </div>
                                <div class="price" style="cursor: initial;">
                                    <h6>Creador: {{list.user.name}}</h6>
                                </div>
                                <div class="stats" id="btn-favorite">
                                    <button type="button" *ngIf="!list.favorite" (click)="updateFavoriteList(list.id)" rel="tooltip" title="Lista no favorita" style="padding: 5px;"
                                        class="btn btn-just-icon btn-simple rounded-circle"
                                        data-original-title="Guardada como no favorita">
                                        <i class="far fa-heart"></i>
                                    </button>
                                    <button type="button" *ngIf="list.favorite" (click)="updateFavoriteList(list.id)" rel="tooltip" title="Lista favorita" style="padding: 5px;"
                                        class="btn btn-just-icon btn-simple rounded-circle" style="color: red;"
                                        data-original-title="Guardada como favorita">
                                        <i class="fas fa-heart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</article>