<article class="col-md-12">
  <div style="width: 90%; margin: 0 auto;" class="mt-5" >
    <h2>Productos</h2>
  </div>
  <div style="width: 90%; margin: 0 auto;" class="mb-1 pb-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Esencial</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.price}}</td>
          <td>{{product.important ? 'SI' : 'NO'}}</td>
        </tr>       
      </tbody>
    </table>
    <div class="mt-1"><h3>Precio aproximado de la lista: {{totalPrice}} €</h3></div>
  </div>
</article>