<!-- <app-product-list></app-product-list> -->
<header>
    <div class="card-image" [routerLink]="['/home']" style="cursor: pointer;">
        <img class="img" src="./assets/logo.png" alt="Logo OrganList">
    </div>
</header>

<nav class="row align-items-center">
    <div class="col clearfix">
        <button type="button" rel="tooltip" [routerLink]="['/new/list']" title="Crear lista"
            class="btn btn-just-icon btn-simple btn-primary float-left ml-5" data-original-title="Crear lista">
            <i class="fas fa-clipboard-list"></i> Crear lista
        </button>
        <button type="button" rel="tooltip" [routerLink]="['/login']" title="Iniciar sesion"
            class="btn btn-just-icon btn-simple btn-primary float-right mr-5" data-original-title="Iniciar sesion">
            <i class="fas fa-user"></i> Login
        </button>
        <!-- [hidden] = "showBackButton" [routerLink]="['/home']" -->
        <button type="button" appBackButton [hidden] = "showBackButton" rel="tooltip" title="Volver al inicio"
            class="btn btn-just-icon btn-simple btn-primary float-right mr-5" data-original-title="Volver al inicio">
            <i class="fas fa-home"></i> Home
        </button>
    </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-list></app-list> -->