<hr />
<article class="col-md-12">

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Crear lista</legend>

        <div *ngIf="created" style = "text-align: center; font-weight: bold;" class="alert alert-success" role="alert">
            Lista insertada! <a [routerLink]="['/home']" class="ml-1" style="color: green;">Ir a inicio</a>
        </div>

        <form [formGroup]="formReactive" (ngSubmit)="createList(formReactive.value)">
            <div class="form-group">
                <label for="inputName">Nombre</label>
                <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp"
                    placeholder="Enter name" required formControlName="name">
            </div>
            <div class="form-group">
                <label for="inputDescription">Descripción</label>
                <input type="text" class="form-control" id="inputDescription" aria-describedby="emailHelp"
                    placeholder="Enter description" formControlName="description">
            </div>

            <div class="form-group">
                <label for="inputShop">Tienda</label>
                <select class="form-control" id="inputShop" *ngFor="let shop of shops">
                    <option value="0" selected>Sin tienda</option>
                    <option value="shop.id">{{shop.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputCreator">Creador</label>
                <input type="text" readonly class="form-control" id="inputCreator" formControlName="user" />
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!formReactive.valid">Crear</button>

            <div *ngIf="(formReactive.touched || formReactive.dirty) && formReactive.invalid"
                class="alert alert-danger alertError" role="alert">
                Faltan datos
            </div>
        </form>
    </fieldset>
</article>